doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title DbBarcode
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    . align="center" = yield
    . align="center" 
    	= link_to "ФИО", brcode_names_path
    	|
    	span |
    	|
    	= link_to "Работа", brcode_works_path
    	|
    	span |
    	|
    	= link_to "Даты", brcode_dates_path