table
	tr
		th id
		th Штрих-код
		th ФИО
		th
	- @brcode_names.each do |brcode_name|
		tr
			td = brcode_name.id
			td = brcode_name.barcode_id
			td = brcode_name.name
			td align="center" = link_to "удалить", brcode_name, data: {:confirm => 'удалить?'}, :method => :delete
	tr
		td colspan=4
			= render 'form'




