= form_for @brcode_date do |f|
	
	= f.select :name, {}, {}, {} do
		- if BrcodeName.exists?
			- BrcodeName.all.collect { |p| [p.barcode_id, p.name, p.id] }.each do |c|
				= content_tag(:option, "#{c.first}_#{c[1]}", value: c.last)
		- else
			= content_tag(:option, "В базе нет ФИО", disabled: true)

	= f.select :work, {}, {}, {} do
		- if BrcodeWork.exists?
			- BrcodeWork.all.collect { |p| [p.barcode_id, p.work, p.id] }.each do |c|
				= content_tag(:option, "#{c.first}_#{c[1]}", value: c.last)
		- else
			= content_tag(:option, "В базе нет работ", disabled: true)

	= f.date_select :start_date
	= f.date_select :stop_date
	= f.submit "Внести"