table
	tr
		th id
		th Штрих-код ФИО
		th Штрих-код Работы
		th Дата начала
		th Дата окончания
		th
	- @brcode_dates.each do |brcode_name|
		tr


			td = brcode_name.id

			td 
				-if BrcodeName.exists?
					- brcodename = BrcodeName.find(brcode_name.name)
					= "#{brcodename.barcode_id}(#{brcodename.name})"

			td 
				-if BrcodeWork.exists?
					- brcodework = BrcodeWork.find(brcode_name.work)
					= "#{brcodework.barcode_id}(#{brcodework.work})"
			

			td = brcode_name.start_date
			td = brcode_name.stop_date
			td align="center" = link_to "удалить", brcode_name, data: {:confirm => 'удалить?'}, :method => :delete
	tr
		td colspan=6
			= render 'form'
