table
	tr
		th id
		th Штрих код
		th Работа
		th
	- @brcode_works.each do |brcode_work|
		tr
			td = brcode_work.id
			td = brcode_work.barcode_id
			td = brcode_work.work
			td align="center" = link_to "удалить", brcode_work, data: {:confirm => 'удалить?'}, :method => :delete
	tr
		td colspan=4
			= render 'form'




